<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chip-8</title>
    <style>
        body {
            margin: 0;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="app"></div>

    <% if (htmlWebpackPlugin.files.js.length > 0) { %>
        <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <% } %>
    <%
    if (htmlWebpackPlugin.files.js.length > 1) { %>
        <script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <% } %>
</body>
</html>