<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chip-8</title>
    <style>
        body {
            margin: 0;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="app"></div>

    <% if (htmlWebpackPlugin.files.chunks.vendor) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
    <% } %>
    <% if (htmlWebpackPlugin.files.chunks.main.entry) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <% } %>
</body>
</html>